body{
    background-image: url('images.png');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
label{
    color: white;     
    margin: 25px;
}
input{
    display: flex;
    margin: 15px;
    padding: 3px;
    text-align: center;
    font-size: medium;
    box-shadow: 1px 4px 4px 4px rgb(90, 179, 223),
    5px 5px 5px 5px rgb(162, 199, 233);
    border-radius: 3px;
    border: transparent;
    background-color: rgb(19, 21, 23);
    color: white;
}
#inputs{
    margin: 15%;
    height: 20%;
    width: 60%;
    display: flex;
}